<div class="first">
        
</div>
<div class="header-bar">
    <div id="header">
                <!-- Nav -->
                <ul id="nav">
                        <li data-viewed="false" id ='header-home'><a href="/"><i class = "ti-home"></i>Home</a></li>
                        <li data-viewed="false" id ='header-all'>
                            <a href="/server/show">
                                 <i class = "ti-book"></i>
                                 All Book
                            </a>
                           
                            <ul class = "subNav">
                                <li data-viewed="false"><a href="/server/show">Video</a></li>
                                <li data-viewed="false"><a href="/server/showPdf">Book</a></li>
                            </ul>
                        </li>
                        <li data-viewed="false" id ='header-favour'>
                            <a href="/me/{{user}}">
                            <i class = "ti-save"></i>
                            Favourite
                            </a>
                            <ul class="subNav">
                                <li data-viewed="false"><a href="/me/{{user}}">Video</a></li>
                                <li data-viewed="false"><a href="/me/PdfFavour/{{user}}">Book</a></li>
                            </ul>

                        </li>
                        <li data-viewed="false" id ='header-chat'><a href="/chat/chatRoom">Chat</a></li>
                        <li data-viewed="false" id ='header-post'>
                            <a href="/me/postForm"><i class="ti-marker-alt"></i>
                                Post
                            </a>
                            <ul class="subNav">
                                <li data-viewed="false"><a href="/me/postForm">Video</a></li>
                                <li data-viewed="false"><a href="/me/uploadForm">Book</a></li>
                            </ul>
                        </li>
                        <li data-viewed="false" id ='header-more'>
                            <a href="">
                                More
                                <i class="icon-down ti-angle-down"> </i>
                            </a>
                            <ul class="subNav">
                                <li data-viewed="false"><a href="">Name</a></li>
                                <li data-viewed="false"><a href="">Phone</a></li>
                                <li data-viewed="false"><a href="">Address</a></li>
                            </ul>
                        </li>
                </ul>
                <!-- Search -->
                <div class="auth-btn">
                    <ul id = "auth">
                        {{#if user}}
                        <li>
                            <a href="">
                              {{user}}
                                <i class="icon-down ti-angle-down"> </i>
                            </a>
                            <ul class="subNav">
                                <li><a href="/me/showInfo/{{user}}">Info</a></li>
                                <li><a href="/auth/logout">Log out</a></li>
                            </ul>
                        </li>
                        {{else}}
                        <li><a href="/auth/loginForm" id = "login">Login</a></li>
                        <li><a href="/auth/regisForm" id = "regist">Register</a></li>
                        {{/if}}
                    </ul>
                </div>
    </div>
</div>
<script>
   
    const redirect = document.getElementsByClassName('redirect');
    const signErrAcc = document.querySelector('.error-acc-sign');
    const signErrPass = document.querySelector('.error-pass-sign');
     const login = document.getElementById('login');

    const signup = document.getElementById('regist');
    
    login.addEventListener("click",(e)=>{
        e.stopPropagation();
    })
    
    signup.addEventListener('click',(e)=>{
        e.stopPropagation();
    })
  
    const liElements1 = document.querySelectorAll("#nav li");
    console.log(liElements1)
    liElements1.forEach(li => {
        console.log("Ok")
        li.addEventListener("click", () => {
            // Đặt thuộc tính data-viewed thành "true" cho phần tử hiện tại
            li.dataset.viewed = "true";

            // Lưu trạng thái đã chọn vào Local Storage
            localStorage.setItem('selectedLi', li.id); // Sử dụng id của phần tử làm key
            console.log(" Ok")
        });
    });

    // Kiểm tra và khôi phục trạng thái đã chọn khi trang tải
    const selectedLiId1 = localStorage.getItem('selectedLi');
    if (selectedLiId1) {
        const selectedLi = document.getElementById(selectedLiId1);
        if (selectedLi) {
            selectedLi.dataset.viewed = "true";
            selectedLi.classList.add("header-track")
        }
    } 
    if ( selectedLiId1 == null) {
    sessionStorage.setItem('selectedLi',"header-home");
    };
   
</script>