<div class="main-page">
    <div data-acc = "{{user}}"  class="header-page">
        Welcome {{user}}
    </div>
    <ul id = "itemList" class="body-page">
        {{#each book}}
        <div class="full-card">
            <div class="card">
            <img class="card-img" src="http://img.youtube.com/vi/{{this.linkBook}}/maxresdefault.jpg" >
            </img>
            <div data-link="{{this.linkBook}}" class="card-name">
                <h3>{{this.nameBook}}</h3>
            </div>
            <div class="follow-and-like">
                <i class ="ti-thumb-up">{{this.like}}</i>
                <i class ="ti-heart">{{this.follow}}</i>
            </div>
            <div class="modal-card">
                <div class="modal-main">
                    <div class="modal-img">
                        <img class="modal-image" src="http://img.youtube.com/vi/{{this.linkBook}}/maxresdefault.jpg"></img>
                    </div>

                    <div class="modal-body">
                        <div  class="modal-name">
                            <h4>{{this.nameBook}}</h4>
                        </div>
                        <div class="modal-des">
                            <h5>{{this.desBook}}</h5>
                        </div>
                        <div class="modal-follow-and-like">
                            <i class ="ti-thumb-up">{{this.like}}</i>
                            <i class ="ti-heart">{{this.follow}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        {{/each}}
    </ul>
     <div id="pagination">
        <div class="change-page">
            <button id="prevPage" class ="btn-change">Previous</button>
            <button id="nextPage" class="btn-change">Next</button>
        </div>
    </div>
    
</div>

<script>

    const Cards = document.querySelectorAll('.card');
    Cards.forEach(function(card){
        card.onmouseenter = (e)=>{
            card.querySelector('.modal-card').classList.add('open-card')
            console.log(card);
        }
        card.onmouseleave = (e)=>{
            card.querySelector('.modal-card').classList.remove('open-card')
        }
        card.onclick = (e)=>{
            const link = card.querySelector('.card-name').getAttribute('data-link');
            const curAcc = document.querySelector('.header-page').getAttribute('data-acc');
            location.assign(`show/${curAcc}/${link}`)
        }
    })

    const itemList = document.getElementById('itemList');
    const prevPageButton = document.getElementById('prevPage');
    const nextPageButton = document.getElementById('nextPage');

    const itemsPerPage = 15; // Số mục hiển thị trên mỗi trang
    let currentPage = 1; // Trang hiện tại

    // Hàm để hiển thị các mục tương ứng trên trang
    function displayItems() {
        const start = (currentPage - 1) * itemsPerPage;
        const end = start + itemsPerPage;
        const items = itemList.getElementsByClassName('full-card');

        for (let i = 0; i < items.length; i++) {
            if (i >= start && i < end) {
                items[i].style.display = 'flex'; // Hiển thị mục nếu nằm trong phạm vi trang hiện tại
            } else {
                items[i].style.display = 'none'; // Ẩn mục nếu nằm ngoài phạm vi trang hiện tại
            }
        }
    }

    // Sự kiện cho nút "Previous"
    prevPageButton.addEventListener('click', () => {
        if (currentPage > 1) {
            currentPage--;
            displayItems();
        }
    });

    // Sự kiện cho nút "Next"
    nextPageButton.addEventListener('click', () => {
        const totalItems = itemList.getElementsByClassName('full-card').length;
        const totalPages = Math.ceil(totalItems / itemsPerPage);

        if (currentPage < totalPages) {
            currentPage++;
            displayItems();
        }
    });

    // Hiển thị trang đầu tiên ban đầu
    displayItems();

</script>
